@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sora", sans-serif;
  font-weight: 500;
}

.project-card {
  @apply bg-gray-100 p-6 rounded-lg shadow-md flex flex-col h-full;
}

.project-image {
  @apply w-full h-[60%] object-cover rounded-md mb-4;
}

.project-card a {
  @apply text-blue-500 mt-auto inline-block font-semibold;
  padding: 8px 16px; 
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project-card h3 {
  @apply text-xl font-semibold;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.slick-slide {
  padding: 0 8px; 
} 

/* Hover effect for button */
.project-card a:hover {
  @apply bg-blue-500 text-white; 
}

/* Custom dot styles */
.custom-dots {
  @apply flex justify-center;
  bottom: -45px !important;
  position: relative;
}

.dot-button {
  @apply w-2 h-2 bg-gray-300 rounded-full transition duration-300 ease-in-out;
  box-shadow: none;
  border: none;
  width: 8px;
  height: 8px;
  background-color: #cbd5e1;
  border-radius: 50%;
  margin: 0 4px; 
  transition: background-color 0.3s ease;
  
}

.custom-dots .slick-active .dot-button {
  background-color: #3b82f6 !important;
  transform: scale(2);
}

.custom-dots .slick-active .dot-button::before,
.custom-dots .slick-active .dot-button::after {
  display: none; 
}

.active-dot-bar {
  position: absolute;
  bottom: 0;
  height: 4px; /* Height of the active bar */
  background-color: #3b82f6;
  border-radius: 4px;
  transition: left 0.5s ease; /* Smooth sliding effect */
}

video {
  @apply object-cover w-full h-full;
}
